body .logo {
    zoom: 20%;
    position: absolute;
    left: 0px;
    margin-left: 280px;
    margin-top: -80px;
}

.dropdown{
  margin-top: 45px;
  margin-right: 10px;
  float: right;
  position: relative;
  display: inline-block;
}
.button{
  padding: 10px 20px;
  font-size:15px;
  background-color: rgb(119, 226, 240);
  color: rgb(0, 0, 0);
}
#drop-content{
  animation: fadein 2s;
  position: absolute;
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#drop-content a{
  display:block;
  font-size: 15px;
  background-color: #dfdfdf;
  color: black;
  text-decoration: none;
  padding: 10px 34px;
  margin: 2px 0px 0px 0px;
}

.fadeWork {
  position:relative;
  top: 350px;
  zoom: 25%;
}

.fadeWork .dating {
  animation: fadein 7s;
}

.dating .date {
  position:relative;
  top: 500px;
  left: 3000px;
}

.dating .ing {
  position:relative;
  left: 3900px;
}

.oln .our {
  animation: fadein 7s; 
  position: relative;
  top: -130px;
  left: 3200px;
}

.oln .loveis {
  animation: fadein 7s;
  position: relative;
  top: -230px;
  left: 3400px;
}

.oln .nowing {
  animation: fadein 7s;
  position: relative;
  top: -280px;
  left: 3500px;
}

@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}